edge-tts==7.*
ffmpeg-python==0.2.*
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
moviepy
numpy==2.*
openai
opencv-python==4.*
Pillow==11.*
pykakasi
python-dotenv==1.*
requests
streamlit
tzdata
