edge-tts==7.*
Pillow==11.*
opencv-python==4.*
numpy==2.*
ffmpeg-python==0.2.*
python-dotenv==1.*
openai
python-dotenv
moviepy
requests
pykakasi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
tzdata